---
layout: base
---

{% include header.html type="project" %}

<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
    <div class="row">
        <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">

            {% if page.gh-repo %}
            {% assign gh_split = page.gh-repo | split:'/' %}
            {% assign gh_user = gh_split[0] %}
            {% assign gh_repo = gh_split[1] %}

            <div id="header-gh-btns">
                {% if page.gh-badge.size > 0 %}
                {% for badge in page.gh-badge %}
                {% case badge %}
                {% when 'star'%}
                <iframe
                    src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=star&count=true"
                    frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'watch'%}
                <iframe
                    src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=watch&v=2&count=true"
                    frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'fork'%}
                <iframe
                    src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=fork&count=true"
                    frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'follow'%}
                <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&type=follow&count=true"
                    frameborder="0" scrolling="0" width="220px" height="20px"></iframe>
                {% endcase %}
                {% endfor %}
                {% endif %}
            </div>
            {% endif %}

            {% if page.before-content %}
            <div class="before-content">
                {% for file in page.before-content %}
                {% include {{ file }} %}
                {% endfor %}
            </div>
            {% endif %}

            <article role="main" class="project-post">
                {{ content }}
            </article>

            {% assign repo_url = page.repo-url | default: page.repo_url | strip %}
            {% assign repo_prefix = repo_url | slice: 0, 2 %}
            {% assign repo_is_external = false %}
            {% if repo_url contains '://' or repo_prefix == '//' %}
            {% assign repo_is_external = true %}
            {% endif %}

            {% assign demo_url = page.demo-url | default: page.demo_url | default: page.demo-link | default:
            page.demo_link | default: page.external-url | default: page.external_url | strip %}
            {% assign demo_prefix = demo_url | slice: 0, 2 %}
            {% assign demo_is_external = false %}
            {% if demo_url contains '://' or demo_prefix == '//' %}
            {% assign demo_is_external = true %}
            {% endif %}
            {% if repo_url != "" or demo_url != "" %}
            <div class="project-actions">
                {% if repo_url != "" %}
                <a class="project-action-btn project-action-btn--primary"
                    href="{% if repo_is_external %}{{ repo_url }}{% else %}{{ repo_url | absolute_url }}{% endif %}" {% if repo_is_external %}target="_blank" rel="noopener noreferrer" {% endif %}>Open Repo</a>
                {% endif %}
                {% if demo_url != "" %}
                <a class="project-action-btn project-action-btn--ghost"
                    href="{% if demo_is_external %}{{ demo_url }}{% else %}{{ demo_url | absolute_url }}{% endif %}" {% if demo_is_external %}target="_blank" rel="noopener noreferrer" {% endif %}>Open Demo</a>
                {% endif %}
            </div>
            {% endif %}

            {% if page.after-content %}
            <div class="after-content">
                {% for file in page.after-content %}
                {% include {{ file }} %}
                {% endfor %}
            </div>
            {% endif %}

            {% if page.social-share %}
            {% include social-share.html %}
            {% endif %}

            <ul class="pagination blog-pager">
                {% if page.previous.url %}
                <li class="page-item previous">
                    <a class="page-link" href="{{ page.previous.url | relative_url }}" data-toggle="tooltip"
                        data-placement="top" title="{{page.previous.title | strip_html | xml_escape}}">&larr; Previous
                        Project</a>
                </li>
                {% endif %}
                {% if page.next.url %}
                <li class="page-item next">
                    <a class="page-link" href="{{ page.next.url | relative_url }}" data-toggle="tooltip"
                        data-placement="top" title="{{page.next.title | strip_html | xml_escape}}">Next Project
                        &rarr;</a>
                </li>
                {% endif %}
            </ul>
            {% include comments.html %}
        </div>
    </div>
</div>